body {
  background-image: linear-gradient(1000deg, black, white);
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 80px;
  border-radius: 50px;
  color: white;
}

.form__senha {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  color: yellow;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.form {
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 1rem;
  background-color: white;
}

.botao {
  background-color: rgb(242, 255, 0);
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 15px;
  color: black;
  font-size: 1.2rem;
}

.botao:hover {
  background-color: green;
}
