body {
  background-image: linear-gradient(1000deg, black, white);
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form__control {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 80px;
  border-radius: 50px;
  color: yellow;
  gap: 10px;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.input {
  padding: 10px;
  border-radius: 30px;
  font-size: 0.9rem;
  color: black;
}

.form__control.success input {
  border: 3px solid #4eca64;
}

.form__control.error input {
  border: 3px solid #db5a5a;
}

.form__control.error i.img-error {
  visibility: visible;
}

.form__control.success i.img-success {
  visibility: visible;
}

.form__control.error small {
  color: #db5a5a;
  visibility: visible;
}

.form__control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form__control small {
  visibility: hidden;
  position: absolute;
  margin-top: 5px;
  font-size: 14px;
}

.form button {
  background-color: rgb(242, 255, 0);
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 15px;
  color: black;
  font-size: 1.2rem;
  margin-top: 15px;
}

a {
 
  text-align: center;
  justify-content: space-between;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.form button:hover {
  background-color: green;
}
