.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 80px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px #ccc;
}

.form__login {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registration {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  color: rgb(248, 229, 89);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.form {
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 1rem;
  background-color: white;
}

.button {
  background-color: rgb(248, 229, 89);
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 15px;
  color: rgb(51, 41, 65);
  font-size: 1.2rem;
}

.button:hover {
  background-color: green;
}

.container a {
  color: rgb(248, 229, 89);
  text-decoration: none;
  font-size: 1.1rem;
}
