<body>
  <div class="container">
    <form class="form__cadastro__usuario" id="form__cadastro__usuario">
      <div class="form__cadastro">
        <h1>Faça o seu Cadastro</h1>
  
        <input
          class="form"
          type="text"
          id="name"
          placeholder="Digite seu Nome"
          required
        />
        <input
          class="form"
          type="text"
          id="categoriaCarro"
          placeholder="Digite sua Categoria"
          required
        />
        <input
          class="form"
          type="text"
          id="modeloCarro"
          placeholder="Digite o Modelo do seu Carro"
          required
        />
        <input
          class="form"
          type="email"
          id="email"
          placeholder="Digite seu Email"
          required
        />
        <input
          class="form"
          type="password"
          id="password"
          placeholder="Digite sua Senha"
          required
          minlength="6"
        />
  
        <input id="submit__button" class="button" type="submit" value="Enviar" />

        <div class="registration">
          <a [routerLink]="['/login']">Inicio</a>
          
        </div>
      </div>
    </form>
  </div>
  
</body>
